body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.header, .main-one{
    background-color: #1F2937;
    display: flex;
    padding: 16px 175px;
}

.header {
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.h-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.right-links {
    font-size: 18px;
    display: flex;
    gap: 16px;
    color: #e5e7eb;
}

.main-one {
    padding-top: 100px;
    gap: 50px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.main-one-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    max-height: 400px;
}

.main-one-content button {
    max-width: 125px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
}

.main-one-img {
    display: flex;
    width: 600px;;
    height: 250px;
    background-color: rgb(118, 128, 138);
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex: 0 0 auto;
}

.main-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px 100px 150px;
    gap: 50px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.placeholder {
    border-radius: 16px;
    border: 4px solid #3882f6;
    height: 150px;
    width: 150px;
    flex: 0 0 auto;
    color: black;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.subtext {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
}

.main-three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 175px 100px 175px;
    background-color: #e5e7eb;
}

.quote {
    width: 800px;
    height: 300px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.quote-body {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.attribution {
    font-weight: bold;
    font-size: 24px;
    color: #1F2937;
    text-align: right;
}
